<br><br><br><br><br><br>
<div class="container-fluid well span6">
	<div class="row-fluid">
        <div >
		    <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" class="img-circle">
        </div>
        {{user.messages}}
        <div style="float: right; margin-right: 600px; margin-top: -200px;">
            <h3>User: {{ user.username }}</h3>
            <h6>Email: {{ user.email }}</h6>
            <h6>Name: {{ user.firstname }} {{ user.lastname }}</h6>
        </div>
</div>
</div>